<% layout('/layouts/base') %>

<h1>Destination Page</h1>

<div><a href="/api/v1/destinations/create">buat destinasi baru</a></div>

<ul>
  <% for (let destination of destinations) { %>
  <li>
    <a href="/api/v1/destinations/<%=destination.id %>"
      ><%= destination.name%></a
    >
  </li>
  <% } %>
</ul>
